<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/tabs/tab1">
      <ion-icon
        color="primary"
        name="people-circle-outline"></ion-icon>
      <ion-label>clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/tab2">
      <ion-icon
        color="primary"
        name="cart-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/tab3">
      <ion-icon
        color="primary"
        name="cash-outline"></ion-icon>
      <ion-label>Abonos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
