<ion-header>
  <ion-toolbar>
    <ion-title>Formulario para crear Egreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="formularioEgreso">
      <ion-list>

        <ion-item>
          <ion-label>{{conceptSeleted}}</ion-label>
          <ion-button
            [disabled]="egreso"
            (click)="mostrarListaConceptos()"
            expand="block">
            Selecciona una categoría
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Valor $</ion-label>
          <ion-input
            formControlName="monto"
            type="number">
          </ion-input>
        </ion-item>

      </ion-list>

    </form>
  </ion-card>

  <ion-button
    *ngIf="!egreso"
    [disabled]="formularioEgreso.invalid"
    type="buttom"
    (click)="crearEgreso()"
    expand="block"
    shape="round"
    color="primary">
    <ion-icon
      slot="start"
      name="save">
    </ion-icon>
    Crear Egreso
  </ion-button>

  <ion-button
    *ngIf="egreso"
    [disabled]="formularioEgreso.invalid || !formularioEgreso.dirty"
    type="buttom"
    (click)="crearEgreso()"
    expand="block"
    shape="round"
    color="tertiary">
    <ion-icon
      slot="start"
      name="create">
    </ion-icon>
    Modificar Egreso
  </ion-button>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed">
    <ion-fab-button (click)="regresar()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>
